<nav class="navbar navbar-default navbar-static-top main-menu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FitTime</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="#/user">Account</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fitness <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                        
                    </ul>
                </li>
                <li class="hidden-lg hidden-md"><a href="#">Separated link</a></li>
                <li class="hidden-lg hidden-md"><a href="#">Sign in</a></li>
                <li class="hidden-lg hidden-md"><a href="#">Sign Up</a></li>
            </ul>

            <a class="btn btn-info btn-sm navbar-btn navbar-right sign-up-btn hidden-sm hidden-xs" href="#/user-signup">Sign up</a>  
            <a class="btn btn-success btn-sm navbar-btn navbar-right sign-in-btn hidden-sm hidden-xs" href="#/user-login">Sign in</a>              
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>